# Menghitung Jarak

**Nama  : Rizki Ardian Samudra**

**NIM   : 210411100179**

**Kelas : Penambangan Data-C**

**1.   Code untuk membaca file csv dari url drive dan menampikan tabel datanya**

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances

file_url = 'https://drive.google.com/file/d/1Ff6Vj1jxHa_GULkDUQ0sI0aaSRxPfhiW/view?usp=sharing'

file_id = file_url.split('/')[-2]
dwn_url = "https://drive.google.com/uc?id=" + file_id
df = pd.read_csv(dwn_url, sep=';')
df = df.drop(columns=['Unnamed: 10', 'Unnamed: 11', 'No'])
df.head()

,Nama,Umur,Tinggi,Jenis Kelamin,Status,Pendapatan,Keahlian,Pekerjaan,Hobi
0,Rizki,20,170,Laki-laki,Belum Menikah,tinggi,mahir,guru,renang
1,Ardi,30,160,Laki-laki,Menikah,menengah,menengah,dokter,ngoding
2,Sania,25,172,Perempuan,Belum Menikah,rendah,pemula,sopir,desain
3,Nugroho,45,181,Laki-laki,Menikah,tinggi,mahir,pilot,ngopi
4,Bella,34,155,Perempuan,Belum Menikah,tinggi,mahir,programmer,futsal

**Penjelasan Tipe Data :**

>    *   Kolom "Umur" dan "Tinggi" adalah tipe data numerik karena nilainya berupa angka.
>    *   Kolom "Jenis Kelamin" dan "Status" adalah tipe data biner simetris karena nilainya hanya berupa dua opsi.
>    *   Kolom "Pendapatan" dan "Keahlian" adalah tipe data ordinal karena nilainya memiliki arti urutan atau peringkat di antara nilai-nilai yang ada.
>    *   Kolom "Pekerjaan" dan "Hobi" adalah tipe data categorical karena nilainya mewakili beberapa jenis kategori dan nilai-nilainya tidak memiliki tingkatan.

**2.   Code untuk menggabungkan atribut yang berbeda ke dalam matriks ketidaksamaan tunggal**

In [ ]:
X = df[['Umur', 'Tinggi', 'Jenis Kelamin', 'Status', 'Pendapatan', 'Keahlian', 'Pekerjaan', 'Hobi']].copy()
X['Jenis Kelamin'] = pd.Categorical(X['Jenis Kelamin']).codes
X['Status'] = pd.Categorical(X['Status']).codes
X['Pendapatan'] = pd.Categorical(X['Pendapatan'], categories=['rendah', 'menengah', 'tinggi'], ordered=True).codes
X['Keahlian'] = pd.Categorical(X['Keahlian'], categories=['pemula', 'menengah', 'mahir'], ordered=True).codes
X['Pekerjaan'] = pd.Categorical(X['Pekerjaan']).codes
X['Hobi'] = pd.Categorical(X['Hobi']).codes

**3.   Code untuk menghitung matriks ketidaksamaan dengan skala interval antara [0,0,1.0]**

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

**4.   Code untuk menampilkan matriks ketidaksamaan**

In [ ]:
print(dist_matrix)

[[0.         0.61904762 0.45238095 0.92857143 0.83333333]
 [0.61904762 0.         0.64285714 0.97619048 0.4047619 ]
 [0.45238095 0.64285714 0.         0.95238095 0.76190476]
 [0.92857143 0.97619048 0.95238095 0.         1.        ]
 [0.83333333 0.4047619  0.76190476 1.         0.        ]]